.banner {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  &__left {
    width: 450px;
    text-align: right;
    font-size: 18px;
  }

  &__img {
    max-width: 650px;
    text-align: center;
  }

  &__desc {
    font-size: 26px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    & {
      flex-direction: column-reverse;
    }
    &__img {
      width: 100%;
      margin: 0 0 25px 0;
    }
    &__desc {
      font-size: 21px;
    }
  }
}
